# Python
__pycache__/
*.py[cod]
*.egg-info/

# Виртуальное окружение
.venv/
/venv/

# Chainlit
.chainlit/.files/
.chainlit/translations/*.json.bak

# Логи
*.log

# IDE
.idea/
.vscode/

# Пространство агента
agentWorkspace/*
!agentWorkspace/.gitkeep

# Для теста инструмента
!agentWorkspace/test_md_to_docx.md
!agentWorkspace/test_md_to_docx.jpg
