# Python
__pycache__/
*.py[cod]
*.egg-info/

# Виртуальное окружение
.venv/
/venv/

# Chainlit
.chainlit/.files/
.chainlit/translations/*.json.bak

# Логи
*.log

# IDE
.idea/
.vscode/

# Пространство агента
my-folder/*
!my-folder/.gitkeep